.container {
    width: 50%;
    margin-inline: auto;
    text-align: center;
}

#game-board {
    display: inline-block;
    border: 1px solid black;
}

.row {
    display: flex;
}

.cell {
    width: 12px;
    height: 12px;
    background: white;

    border: 1px solid #eee;
    box-sizing: border-box;
}

.cell.alive {
    background: #222;
}