.container {
    width: 50%;
    margin-inline: auto;
    text-align: center;
}

#game-layout {
    position: relative;
    display: inline-block;
}

#game-board {
    display: inline-block;
    border: 1px solid black;
    user-select: none;
    touch-action: none;
}

#game-sidebar {
    position: absolute;
    left: calc(100% + 15px);
    top: 0;
    width: 220px;
    text-align: left;
}

.row {
    display: flex;
}

.cell {
    width: 12px;
    height: 12px;
    background: white;

    border: 1px solid #eee;
    box-sizing: border-box;
}

.cell.alive {
    background: #222;
}

.gopher {
    width: 1.5em;
    height: auto;
    vertical-align: -0.3em;
}