{{ define "gameboard" }}
    <div
            id="game-board"
            data-on:pointerdown="
                evt.target.classList.add('alive');
                @post('/tap?x=' + evt.target.dataset.x + '&y=' + evt.target.dataset.y)
            "
    >
        {{ range $y, $row := .Cells }}
            <div class="row">
                {{ range $x, $alive := $row }}
                    <div
                            class="cell{{ if $alive }} alive{{ end }}"
                            data-x="{{ $x }}"
                            data-y="{{ $y }}"
                    ></div>
                {{ end }}
            </div>
        {{ end }}
    </div>
{{ end }}