<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../assets/style.css">
    <script type="module" src="../assets/datastar.js"></script>
    <title>Conway's Game of Life with Datastar and Go</title>
</head>
<body>
<div class="container">
    <header>
        <h2>Conway's Game of Life with 🚀 Datastar and Go <img src="../assets/gopher-256.png" alt="Gopher" class="gopher"></h2>
    </header>
    <main id="main" data-init="@post('/', {retry: 'never'})">
        <div id="game-layout">
            {{template "gameboard" }}
            <aside id="game-sidebar">
                {{ template "clientcount" }}
                <!-- future buttons go here -->
            </aside>
        </div>
    </main>
    <footer>
        {{ if .debug }}
            <br>
            BE running on {{ .runtime_GOOS }}/{{ .runtime_GOARCH }} with {{ .runtime_version }} with
            rev {{ .revision }} built on {{ .buildTS }} UTC
            <br>
        {{ end }}
        <br>
        Made with ♥️ using Go and 🚀
        <a href="https://data-star.dev/" target="_blank" rel="noopener">Datastar</a>
        with some help from 🤖. Source on <a href="https://github.com/fraenky8/datastar-cgol-go" target="_blank" rel="noopener">GitHub</a>
    </footer>
</div>
</body>
</html>